<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>room713.index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BuildIndex</servlet-name>
        <servlet-class>room713.BuildIndex</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BuildIndex</servlet-name>
        <url-pattern>/buildindex</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>View</servlet-name>
        <servlet-class>room713.View</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>View</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
</web-app>  